body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

nav {
  overflow: hidden;
  background-color: #FEEE5F;
  padding: 0px 5%;
  height: 50px;
}

nav a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  color: #000;
}

p {
  font-size: 24px;
  margin-left: 16px;
}

.add {
  outline: none;
  /* display: block; */
  border: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0px;
  padding: 1px 10px;
  border-radius: 10px;
  background-color: #FEEE5F;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  padding: 0px 5%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid #E6E6E6;
}

th, td {
  text-align: left;
  padding: 15px 16px;
}

.rfid {
  text-transform: uppercase;
}

.btn {
  border: none;
  cursor: pointer;
  display: inline-block;
  background-color: inherit;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}